@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>@ViewBag.Tip</h3>
</div>

<div class="row">
    <div class="col-md-4" style="text-align:center">
        <p><a class="btn btn-primary" style="font-size: 40px;" href="/Home/setPositivo/@ViewBag.TipId">Positivo :)</a></p>
    </div>
    <div class="col-md-4" style="text-align:center">
        <p><a class="btn btn-default" style="font-size: 40px;" href="/Home/setNeutro/@ViewBag.TipId">Neutro :|</a></p>
    </div>
    <div class="col-md-4" style="text-align:center">
        <p><a class="btn btn-danger" style="font-size: 40px;" href="/Home/setNegativo/@ViewBag.TipId">Negativo :(</a></p>
    </div>
</div>